<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sociality">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Sociality"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".SearchActivity"></activity>
        <activity android:name=".ZoomImageActivity" />
        <activity
            android:name=".StartActivity"
            android:screenOrientation="userPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewEventActivity"
            android:screenOrientation="userPortrait">
            <intent-filter>

                <!-- Intent filter action for receiving multiple images -->
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <!-- To receive Images set mime type to image -->
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <activity android:name=".InterstitialAdActivity"
            android:screenOrientation="userPortrait"/>

        <activity
            android:name=".Fragments.ProfileFragment"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".EditProfileActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Fragments.SettingsFragment"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".ResetPasswordActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Settings.MyEventsActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".MyWorksActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".NotificationsActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Settings.OpenSourceLibraryActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Settings.PrivacyPolicyActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Settings.TermsAndConditionsActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Settings.CreditActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".DetailedActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".ImagePickerActivity" />

        <service android:name=".Notification.MyFirebaseIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Notification.MyFirebaseMessageing">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>